* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

#grid {
  background-color: aquamarine;
  width: 500px;
  height: 500px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}

.cellStyle {
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cellStyle.easy {
  height: calc(100% / 10);
  width: calc(100% / 10);
}

.cellStyle.medium {
  height: calc(100% / 9);
  width: calc(100% / 9);
}

.cellStyle.hard {
  height: calc(100% / 7);
  width: calc(100% / 7);
}

.bg-color-yellow {
  background-color: yellow;
}

.buttons {
  margin-top: 50px;
  text-align: center;
}

.bg-color-red {
  background-color: red;
}

.bg-color-light-blue {
  background-color: lightblue;
}

.noClick {
  pointer-events: none;
}
